<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> {{ blog.title }} </h1>
    <h3> {{ blog.create_at }} </h3>

    <p>
        {{ blog.text }}
    </p>

    <b>
        <a href="{{ url_for('blog_list') }}"> Barcha Bloglar</a>
    </b>

    <b>
        <a href="{{ url_for('blog_delete', id=blog.id)}}"> Blogni o'cirish </a>
    </b>

    <b>
        <a href="{{ url_for('blog_update', id=blog.id)}}">Blogni yangilash</a>
    </b>





</body>
</html>
